.App {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #4f8a8b;
}

.Center-container {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: fit-content;
}

/* .Center-container:hover {
  background-color: yellow;
}  */
.Center-container .Circle-div:hover { 
  background-color: green;
  top: 5%;
  left: 1%;

}

.Circle-div {
  background: #222831;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.Circle-div:hover {
  background-color: yellow;
  /* animation: circleBounce infinite 1s linear; */
  /* position: fixed; */
  /* top: 5%; */
}

@keyframes circleBounce {
  0% {
    left: 0px;
    position: absolute;
    top: 5%;
  }
}

.my-picture {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(0%, -50%);
  width: 20%;
}

.my-picture1 {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(0%, -48%);
  width: 20%;
  opacity: 0.75;
  filter: blur(10px);
}

.my-picture2 {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(0%, -46%);
  width: 20%;
  opacity: 0.5;
  filter: blur(10px);

  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
