.App {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #4f8a8b;
}

.Center-container {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: fit-content;
}

/* .Center-container:hover {
  background-color: yellow;
}  */
.Center-container .Circle-div:hover { 
  background-color: green;
  top: 5%;
  left: 1%;

}

.Circle-div {
  background: #222831;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
}

.Circle-div:hover {
  background-color: yellow;
  /* animation: circleBounce infinite 1s linear; */
  /* position: fixed; */
  /* top: 5%; */
}

@keyframes circleBounce {
  0% {
    left: 0px;
    position: absolute;
    top: 5%;
  }
}

.my-picture {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(0%, -50%);
  width: 20%;
  user-select: none;
  -webkit-user-drag: none;
}
.blur2 {
  transform: translate(0%, -46%);
  opacity: 0.5;
  filter: blur(10px);
}
.blur1 {
  transform: translate(0%, -48%);
  opacity: 0.75;
  filter: blur(10px);
}
.border-picture {
  width: 21%;
  filter: blur(10px) brightness(0);
  transform: translate(-2%, -49%);
  
}
.close-emoji {
  margin: auto;  
  filter: grayscale(6);
  cursor: pointer;
  padding-left: 5%;
  font-size: 2vw;
}
.name-title {
  position: absolute;
  src: url('/public/assets/black-font.ttf');
  font-family: Black Vosten Personal Use;
  left: 38%;
  top: 8%;
  user-select: none;
  -webkit-user-drag: none;
  animation-duration: 3s;
  animation-name: fadeIn;
}
.main-body-name {
  margin: 0;
  margin-top: -10%;
  margin-left: -4%;
  font-weight: 250;
  font-size: 2.5vw;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0px);

  }
}


.greeting-title {
  font-weight: 350;
  margin: 0;

  /* top: -10%; */
  font-size: 10vw;
}

#rotated-arrow-main {
  top: 0%;
  position: absolute;
  left: 14%;
  width: 16%;
  transform: rotate(180deg) translate(-50%,-40%);
  user-select: none;
  -webkit-user-drag: none;
}













.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
